.nav-pills{
  font-family: 'Shrikhand', cursive;
  font-size:2.0em;
  background-color:white;
  opacity: 1;
  margin-bottom:12%;
}

body{
  background-color:white;
  font-family: 'Shrikhand', cursive;
}
h1{
    padding:0;
  margin-top:0px;
  color:white;
  font-size:6.0em;
}
h3{
    padding:0;
  margin-top:0px;
  color:white;
  font-size:em;
}
.block{
  background-color:black;
  opacity:.6;
  padding:2px;
  width:79%;
  margin-right:auto;
  margin-left:auto;
  border-radius:10px;
}

.block1{
  background-color:black;
  opacity:.6;
  padding:2px;
  width:79%;
  margin-right:auto;
  margin-left:auto;
  border-radius:10px;
}

.block2{
  background-color:black;
  opacity:.6;
  padding:2px;
  width:40%;
  margin-right:30px;
  margin-left:30px;
  border-radius:10px;
}
.block3{
  background-color:black;
  opacity:.6;
  padding:2px;
  width:33%;
  margin-right:auto;
  margin-left:auto;
  border-radius:10px;
}
.btn-default{
  background-color:white;
  border-color:black;
  color:#337ab7;
  size:1.7em;
}
.pageOne{
  background:url("http://i64.tinypic.com/33xkoj8.jpg");
  background-size:cover;
  height:1200px;
    margin-top: -0%;
}
.pageTwo{
  background:url("http://i68.tinypic.com/donxpu.jpg");
  background-size:cover;
  height:1200px;
  padding-top:5%;
}
.pageThree{
  background:url("http://i68.tinypic.com/2irw8oy.jpg");
  background-size:cover;
  height:1200px;
  padding-top:5%;
}
.pageFour{
  background:url("http://i66.tinypic.com/2zohno9.jpg");
  background-size:cover;
  height:1200px;
  padding-top:23%;
}
p{
  color:white;
  font-size:1.5em;
  padding-top:5%;
}
.fa-twitter{
  background-color:;
  color:;
}
.pic1{
  height:300px;
  border-radius:50%;
  opacity:.4;
  margin-left:50%;
  margin-top:15%;
}
.fa{
  color:grey;
}
.paddingTop{
  padding-top:2%;
  padding-botom:2%;
}
.paddingTop1{
    padding-top:2%;
    padding-bottom:2%;
}
.footer{

}
.contactMe{
  margin-top:60%;
}
